<<<<<<< HEAD
@charset "utf-8";
*{margin: 0;padding: 0;}
li{list-style: none;}
a:link,a:visited{text-decoration: none;color: #000;}
=======
@charset "utf-8";
*{margin: 0;padding: 0;}
li{list-style: none;}
a:link,a:visited{text-decoration: none;color: #000;}
>>>>>>> b2f3d887a757d967ec90c04728322bd27f3ebaa2
clearfix::after{content: "";clear: both;}